*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, #009688, #009688 15%, #D7DBD7 15%);
  background-attachment:fixed;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-app{
  width: 1400px;
  height: 800px;
  margin: auto;
  background: white;
  box-shadow: 1px 1px 5px #888888;
}

.left-side{
  height: 100%;
  width: 420px;
  border-right: 1px solid lightgrey;
  float: left;
}

.right-side{
  height: 100%;
  width: 980px;
  float: left;
}

.top-left-side, .top-right-side{
  width: 100%;
  height: 50px;
  background: #EEEEEE;

}

.body-right-side{
  width: 100%;
  height: 700px;
  background: url('img/bg_chat.png');
}

.footer-right-side{
  height: 50px;
  width: 100%;
  background: #EFEFEF;
}

.img-profilo{
  display: inline-block;
}

.img-profilo > img{
  height: 40px;
  border-radius: 100px;
  margin: 5px;
}

.icon-top-bar-left{
  float: right;
  line-height: 50px;
}

.icon-top-bar-left i{
  margin-right: 10px;
  color: grey;
  font-size: 25px;
}
