*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

.container{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, #009688, #009688 15%, #D7DBD7 15%);
  background-attachment:fixed;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-app{
  width: 1400px;
  height: 800px;
  margin: auto;
  background: white;
  box-shadow: 1px 1px 5px #888888;
}

.left-side{
  height: 100%;
  width: 420px;
  border-right: 1px solid lightgrey;
  float: left;
}

.right-side{
  height: 100%;
  width: 980px;
  float: left;
}

.top-left-side, .top-right-side{
  width: 100%;
  height: 50px;
  background: #EEEEEE;

}

.body-right-side{
  width: 100%;
  height: 700px;
  background: url('img/bg_chat.png');
  overflow-y: scroll;
}

.footer-right-side{
  height: 50px;
  width: 100%;
  background: #EFEFEF;
  line-height: 50px;
}

.img-profilo{
  display: inline-block;
}

.img-profilo > img{
  height: 30px;
  border-radius: 100px;
  margin: 10px;
}

.icon-top-bar-left, .icon-top-bar-right{
  float: right;
  line-height: 50px;
}

.icon-top-bar-left i, .icon-top-bar-right i{
  margin-right: 20px;
  color: #888D90;
  font-size: 20px;
}

.top-left-search{
  position: relative;
  width: 100%;
  height: 40px;
  background: #FBFBFB;
  line-height: 40px;
  text-align: center;
}

.top-left-search input[type=text]{
 width: 90%;
 height: 30px;
 font-size: 15px;
 border: 1px solid #F6F6F6;
 border-radius: 5px;
 padding-left: 40px;
}

.top-left-search i{
  position: absolute;
  top: 12px;
  left: 35px;
  color: #888D90;
}

.img-profilo-destinatario img{
  float: left;
  display: inline-block;
  height: 30px;
  border-radius: 100px;
  margin: 10px;
}
.top-right-side{
  line-height: 50px;
}

#nomeDestinatario{
  float: left;
  display: inline-block;
}

.footer-right-side input[type=text]{
  width: 90%;
  height: 30px;
  font-size: 15px;
  border: 1px solid #F6F6F6;
  border-radius: 50px;
  padding-left: 20px;
}

.footer-right-side i{
  margin: 0 13px;
  font-size: 20px;
  color: #888D90;
}

.all-message-container{
  width: 80%;
  margin: auto;
  padding-top: 10px;
}

.message{
  float: left;
  background: #DEFAC5;
  width: 50%;
  padding: 10px;
  margin-bottom: 25px;
  border-radius: 10px;
}

.clear{
  content: '';
  display: table;
  clear: both;
}

.new-message{
  float: right;
  background: white;
  width: 50%;
  padding: 10px;
  margin-bottom: 25px;
  border-radius: 10px;
}

.orario{
  display: inline-block;
  text-align: right;
}

.orario p{
  display: inline-block;
  right: 0px;
  color: grey;
  font-size: 10px;
}
